@charset "UTF-8";
header {
  position: relative;
}

header div.loading-bar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: gray;
  height: 0.4vh;
  z-index: 2000;
}

header div.loading-bar-background div.loading-bar {
  background-color: royalblue;
  height: inherit;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

header div.navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#423a3c), to(transparent));
  background-image: linear-gradient(#423a3c, transparent);
  text-align: center;
}

@media (max-width: 1200px) {
  header div.navigation {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent));
    background-image: linear-gradient(transparent);
    background-color: black;
  }
}

header div.navigation button {
  color: white;
  text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
}

header div.navigation button:focus {
  outline: none;
}

header div.navigation button span {
  padding: 4px;
}

header div.navigation ul {
  list-style-type: none;
}

header div.navigation ul li {
  display: inline-block;
}

header div.navigation ul li a {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(transparent, transparent);
}

header div.navigation ul li a:hover {
  text-decoration: none;
}

@-webkit-keyframes navigation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navigation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header div.navigation.active {
  margin-top: 0.4vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: navigation 0.5s linear;
          animation: navigation 0.5s linear;
}

section.o-mnie {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 28px;
  background: url("../img/pawel-gory.jpg");
  background-size: cover;
  background-position: 0 0;
  -webkit-filter: grayscale(15%) sepia(15%);
          filter: grayscale(15%) sepia(15%);
  background-repeat: no-repeat;
  background-position: center;
}

section.o-mnie div.background-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.35);
  position: relative;
  z-index: -1;
}

section.o-mnie div.about-me {
  position: absolute;
  top: 25%;
  left: 55%;
}

section.o-mnie div.about-me h1,
section.o-mnie div.about-me h2,
section.o-mnie div.about-me p {
  padding: 0 30px;
  color: white;
  text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
}

section.o-mnie div.about-me h1 span.emoji,
section.o-mnie div.about-me h2 span.emoji,
section.o-mnie div.about-me p span.emoji {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

section.technologie {
  min-height: 100vh;
  margin: 15px 0;
}

section.technologie h1 {
  padding: 20px;
  font-size: 28px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
  letter-spacing: 2px;
}

section.technologie h1::first-letter {
  font-size: 150%;
  color: gray;
}

section.technologie div.skills-container {
  background-color: #c8c8c8;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 5;
}

section.technologie div.skills-container div.one-skill {
  padding: 30px;
  color: white;
  opacity: 0;
}

section.technologie div.skills-container div.one-skill.active {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: 1;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.technologie div.skills-container div.one-skill.active:nth-of-type(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section.technologie div.skills-container div.one-skill div.circle-gradient {
  margin: auto;
  position: relative;
  background: conic-gradient(green 0deg 5deg, transparent 275deg);
  border-radius: 50%;
  width: 262px;
  height: 262px;
  z-index: 20;
}

section.technologie div.skills-container div.one-skill div.circle-gradient:hover {
  background: conic-gradient(green 0deg 305deg, transparent 275deg);
}

section.technologie div.skills-container div.one-skill div.circle-gradient div.circle-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: orangered;
}

section.technologie div.skills-container div.one-skill div.circle-gradient div.circle-inside i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 128px;
  text-align: center;
}

section.technologie div.skills-container div.one-skill span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

section.each-section {
  min-height: 50vh;
  background-color: #c8c8c8;
}

section.each-section h1 {
  padding: 10px;
  text-align: center;
}

section > h1 {
  color: white;
  text-transform: uppercase;
  font-style: 34px;
  text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear, -webkit-transform 0.5s linear;
}

section > h1::first-letter {
  letter-spacing: 5px;
  font-size: 175%;
  color: gray;
  text-shadow: -2px 0 10px white, 0 2px 10px white, 2px 0 10px white, 0 -2px 10px white;
}

section > h1.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section#wyksztalcenie {
  overflow: hidden;
}

section#wyksztalcenie div.logo {
  opacity: 1;
}

section#wyksztalcenie div.logo.first {
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  opacity: 0;
}

section#wyksztalcenie div.logo.first.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 1.5s 0.75s, -webkit-transform 1.5s;
  transition: opacity 1.5s 0.75s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s 0.75s;
  transition: transform 1.5s, opacity 1.5s 0.75s, -webkit-transform 1.5s;
}

section#wyksztalcenie div.logo.second {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  opacity: 0;
}

section#wyksztalcenie div.logo.second.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 1.5s 0.75s, -webkit-transform 1.5s;
  transition: opacity 1.5s 0.75s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s 0.75s;
  transition: transform 1.5s, opacity 1.5s 0.75s, -webkit-transform 1.5s;
}

section#wyksztalcenie div.logo div.AGH,
section#wyksztalcenie div.logo div.POLLUB {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#wyksztalcenie div.logo div.AGH img,
section#wyksztalcenie div.logo div.POLLUB img {
  padding: 15px;
  width: 300px;
  height: 300px;
}

section#wyksztalcenie div.logo div.AGH h3,
section#wyksztalcenie div.logo div.POLLUB h3 {
  padding: 30px;
  font-size: 28px;
}

section#inne-umiejetnosci div p {
  font-size: 28px;
  opacity: 0.1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section#inne-umiejetnosci div p i {
  padding-right: 30px;
  font-size: 48px;
}

section#inne-umiejetnosci div p:nth-of-type(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section#inne-umiejetnosci div p:nth-of-type(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

section#inne-umiejetnosci div p:nth-of-type(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

section#inne-umiejetnosci div p:nth-of-type(5) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

section#inne-umiejetnosci div p.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#moje-zainteresowania .slides {
  margin: 10px 0;
}

section#moje-zainteresowania div.stolarstwo,
section#moje-zainteresowania div.turystyka-gorska {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

section#moje-zainteresowania div.stolarstwo h1,
section#moje-zainteresowania div.turystyka-gorska h1 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 50px;
  text-shadow: -2px 0 5px white, 0 2px 5px white, 2px 0 5px white, 0 -2px 5px white;
}

section#moje-zainteresowania div.stolarstwo .dots,
section#moje-zainteresowania div.turystyka-gorska .dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#moje-zainteresowania div.stolarstwo .dots div.dot,
section#moje-zainteresowania div.turystyka-gorska .dots div.dot {
  margin: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

section#moje-zainteresowania div.stolarstwo .dots div.dot span,
section#moje-zainteresowania div.turystyka-gorska .dots div.dot span {
  padding: 15px;
  display: inline-block;
  background-color: #fff;
  margin: 0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px black;
          box-shadow: 0 0 0 2px black;
}

section#moje-zainteresowania div.stolarstwo .dots div.dot span.active,
section#moje-zainteresowania div.turystyka-gorska .dots div.dot span.active {
  background-color: #000;
}

section#kontakt h4 {
  font-size: 20px;
  margin-top: 30px;
}

section#kontakt p {
  padding: 0;
  margin: 0px 0px 20px;
}

section#kontakt input {
  border-radius: 0;
}

section#kontakt input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px;
}

section#kontakt textarea {
  border-radius: 0;
}

section#kontakt textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 2px;
}

section#kontakt div.kontakt-left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section#kontakt div.kontakt-left.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

section#kontakt div.kontakt-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section#kontakt div.kontakt-right.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

section#kontakt div button {
  padding: 10px 24px;
  color: white;
  border-radius: 5px;
  background-color: orangered;
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', 'Arial', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  /*!nie działa w IE*/
}

div.container-fluid {
  margin: 0;
  padding: 0;
}

div.button-scroll {
  min-width: 35px;
  min-height: 35px;
  width: 5vh;
  height: 5vh;
  background-color: pink;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 12;
  border-radius: 10%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
  opacity: 0;
}

div.button-scroll.active {
  opacity: 1;
}

div.button-scroll a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.6;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  border-radius: inherit;
}

div.button-scroll a span {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */