footer{
    background-color: #4a4a4a;
    padding:10px;

    color:white;
    text-align:center;
    p{
        margin:0;
        a{
            font-size:18px;
            padding: 0 7px;
        i{
            font-size:24px;
            padding-right: 7px;
        }
        }

    }
    
}