* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    // transition: ease-in-out, 1.5s;
}

body {
    height: 300vh;
}

html {
    scroll-behavior: smooth;
    /*!nie działa w IE*/
}