article {
    // position: relative;

    h1 {
        padding: 50px;
        font-size: 48px;
        text-align: center;
    }

    section.o-mnie {
        border: solid red 8px;
        height: 70vh;
        width: 100%;
        background-color: rgb(71, 119, 78);
        text-align: center;
        font-size: 32px;
    }
}