section#doswiadczenie-zawodowe {
    @media (max-width: 575px) {
      & h1>span {
        display: inline-block;
        width: 240px;
  
        &::first-letter {
          letter-spacing: 5px;
          font-size: 175%;
        }
      }
    }
    div.exp{
        padding:15px 0 15px 0;
        p {
            padding:10px 100px 0 100px;
            margin:0;
        opacity: 0;
        transform: translateY(50%);
        transition: opacity 0.5s linear, transform 0.5s linear;
        transition-delay: 0.2s;   
        
        @media (max-width: 768px) {
            padding:10px 10px;
            }

        @media (max-width: 575px) {
            padding:3px 30px;
            }
        }
    }
        
    &.visited {
        div.exp{
            p {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
  }  