section#moje-zainteresowania {
    padding-bottom:0px;
    .stolarstwo{
        padding:30px;
        background-image: url('../img/wood-br40.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .gory{
        padding:30px;
        background-image: url('../img/mountains-br40.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider-wrapper {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
      width: 78%;
      overflow: hidden;
  
      @media (max-width: 991px) {
        width: 100%;
      }
  
      p {
          padding:8px;
          margin:10px 0;
          background-color: rgba(255, 255, 255, 0.55);
            color: black;
            @media (max-width: 575px) {
            font-size: 0.8em;
            padding:4px;
            }
        span {
          text-transform: uppercase;
          color:orangered;
        }
        text-align:center;

      }
  
      .slide {
        min-height: 450px;
  
        @media (max-width: 1199px) {
          min-height: 420px;
        }
  
        @media (max-width: 991px) {
          min-height: 380px;
        }
  
        @media (max-width: 767px) {
          min-height: 280px;
        }
  
        @media (max-width: 575px) {
          min-height: 250px;
        }
      }
  
      div.slide-description {
        width: 100%;
        max-width: 100%;
        height: auto;
        align-self: flex-end;
        padding: 5px;
        position: relative;
        transition: opacity 0.4s;
        z-index: 0;
  
        &:after {
          content: "";
          background-color: transparent;
        }
  
        h3 {
          width: 100%;
          margin: 0 auto 10px auto;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          font-size: 26px;
          text-align: center;
          letter-spacing: 1px;
          line-height: 32px;
  
          &:after {
            content: "";
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: -5%;
            bottom: -5%;
            left: -3%;
            right: -3%;
            z-index: -1;
          }
  
          @media (max-width: 991px) {
            font-size: 20px;
            line-height: 25px;
          }
  
          @media (max-width: 575px) {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0;
          }
        }
      }
    }
  }  