section.each-section {
    min-height: 50vh;
    background-color: rgb(200, 200, 200);


    h1 {
        padding: 10px;
        text-align: center;
    }

    p {
        padding: 10px;
        font-size: 1.5em;
    }
}

//SECTION WYKSZTAŁCENIE
section#wyksztalcenie {
    overflow: hidden;

    div.logo {
        opacity: 1;

        &.first {
            transform: translateX(-70%);
            opacity: 0;

            &.active {
                transform: translateX(0);
                opacity: 1;
                transition: transform 1.5s, opacity 1.5s 0.75s;
            }
        }

        &.second {
            transform: translateX(70%);
            opacity: 0;

            &.active {
                transform: translateX(0);
                opacity: 1;
                transition: transform 1.5s, opacity 1.5s 0.75s;
            }
        }

        div.AGH,
        div.POLLUB {
            padding: 15px;
            display: flex;
            justify-content: space-between;

            img {
                padding: 15px;
                width: 100%;
                height: auto;
            }

            h3 {
                padding: 15px;
            }
        }
    }
}