div.wallpaper {
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    // background-color: greenyellow;
    width: 100%;

    img {
        width: 100%;
        // opacity: 0.5;
    }
}