@import 'nav';
@import 'section-00-default';
@import 'section-00-banner';
@import 'section-01-o-mnie';
@import 'section-02-technologie';
@import 'section-03-inne-umiejetnosci';
@import 'section-04-wyksztalcenie';
@import 'section-05-doswiadczenie-zawodowe';
@import 'section-06-moje-zainteresowania';
@import 'section-07-kontakt';

@import 'footer';

@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-Medium.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Cabin', 'Arial', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor:pointer;
    text-decoration: none;
    color: white;
    text-align: center;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

a.to-top {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 2000;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity linear 0.3s, bottom linear 0.3s;

    &.active {
        opacity: 1;
        pointer-events: auto;
        bottom: 3%;
    }

    i {
        font-size: 30px;
    }

    @media(max-width:992px){
    width: 30px;
    height: 30px;  
    right: 1.5%;
        i{
            font-size: 20px;
        }
}
}