@import 'nav';
@import 'sections';

//-------------------------------------------------------------------------------
@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-Medium.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Cabin', 'Arial', sans-serif;
}


html {
    scroll-behavior: smooth;
    /*!nie działa w IE*/
}

a {
    text-decoration: none;
    color: white;
    text-align: center;

    &:hover {
        color: white;
        text-decoration: none;

    }
}

div.button-scroll {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 2000;
    background-color: black;
    border-radius: 3px;
    opacity: 0;

    &.active {
        transition: opacity ease-in-out 0.3s;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    a {
        position: relative;
        opacity: 1;

        p.arrow {
            transform: translateX(-1px) rotate(270deg);
            transform-origin: center;
            font-size: 30px;
            line-height: 40px;
            //dlaczego transform: translate(-50%, -50%); przesuwa o 50% rodzica, a nie elementu ?
        }
    }
}