section.technologie {
    min-height: 100vh;
    margin: 15px 0;
    // width: 100%;

    h1 {
        padding: 20px;
        font-size: 28px;
        text-align: center;
        color: white;
        text-shadow: -2px 0 10px black, 0 2px 10px black, 2px 0 10px black, 0 -2px 10px black;
        letter-spacing: 2px;

        &::first-letter {
            font-size: 150%;
            color: gray;
        }
    }

    div.skills-container {

        background-color: rgb(200, 200, 200);
        text-transform: uppercase;
        letter-spacing: 2px;
        z-index: 5;


        div.one-skill {
            padding: 30px;
            color: white;
            opacity: 0;
            background-color: gray;
            border: solid red 1px;
            position: relative;

            &.active {
                transition: opacity 1s linear;
                opacity: 1;

                &:nth-of-type(1) {
                    transition-delay: 0.1s;
                }

                &:nth-of-type(2) {
                    transition-delay: 0.1s;
                }

                &:nth-of-type(3) {
                    transition-delay: 0.2s;
                }

                &:nth-of-type(4) {
                    transition-delay: 0.3s;
                }

                &:nth-of-type(5) {
                    transition-delay: 0.4s;
                }

                &:nth-of-type(6) {
                    transition-delay: 0.5s;
                }
            }

            div.circle-gradient {
                margin: auto;
                position: relative;
                background: green;
                width: 125px;
                height: 250px;
                z-index: 20;
                box-sizing: border-box;


                &.jeden {
                    border-top-right-radius: 125px;
                    border-bottom-right-radius: 125px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    // transform: translate(50%, 0);
                }

                &.dwa {
                    position: absolute;
                    top: 0;
                    right: 125px;
                    border-top-left-radius: 125px;
                    border-bottom-left-radius: 125px;
                    transform: rotate(0deg);
                    transform-origin: right;


                    &:hover {
                        transform: rotate(-175deg);
                        transition: transform linear 1s;
                    }
                }

                div.circle-inside {
                    // margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    background-color: orangered;



                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 128px;
                        text-align: center;
                    }
                }
            }

            span {
                display: block;
                margin-left: auto;
                margin-right: auto;
                font-size: 1.5em;
                text-align: center;
            }
        }
    }
}